@page
@using Microsoft.AspNetCore.Hosting
@using System.Net
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment

@* @using DeviceStatusCheckerService.Models.DeviceModel *@
@model IndexModel
@{
    ViewData["Title"] = "Device Monitoring";
}


<style>

    body {
        background-color: #3f4549;
    }

    [data-card="cameraContainer"] {
        width: 100%;
        box-sizing: border-box; /* Include padding and border in the element's total width */
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem;
        transition: box-shadow 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease;
    }

        [data-card="cameraContainer"]:hover {
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
            border-radius: 1.5rem;
            background-color: #dcdcdc;
        }

    .camera-card {
        width: 100%; /* Set the desired width */
    }

    .bg-gray {
        background-color: #6c757d; /* Gray */
    }

    .bg-light-gray {
        background-color: #7d8690; /* Light Gray */
    }

    .bg-dark-gray {
        background-color: #3f4549; /* Dark Gray */
    }

    /* Custom scrollbar styles for the textarea */
    body {
        overflow-y: scroll; /* Add a vertical scrollbar */
        scrollbar-width: thin; /* Specify scrollbar width for Firefox */
        scrollbar-color: #333 #f5f5f5; /* Specify scrollbar colors for Firefox */
    }

        body::-webkit-scrollbar {
            width: 8px; /* Specify scrollbar width for Webkit browsers (Chrome, Safari, etc.) */
        }

        body::-webkit-scrollbar-thumb {
            background-color: #333; /* Specify scrollbar thumb color for Webkit browsers */
        }

        body::-webkit-scrollbar-track {
            background-color: #f5f5f5; /* Specify scrollbar track color for Webkit browsers */
        }

</style>


<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
        <div class="d-flex flex-row align-items-center justify-content-between me-2 ms-2 w-100">

            <!-- Brand -->
            <div class="fs-3 text-light navbar-brand">Device Monitoring</div>

            <!-- Device Status Navbar -->
            <div class="d-flex flex-row text-light justify-content-end align-items-center flex-wrap">
                <div class="fs-5 me-4 mb-2">
                    <span class="text-success fw-bold">Online: </span>
                    <span class="badge bg-success">@Model.Devices.Count(d => d.DeviceActiveStatus == Models.DeviceActiveStatus.ONLINE)</span>
                </div>

                <div class="fs-5 me-4 mb-2">
                    <span class="text-danger fw-bold">Offline: </span>
                    <span class="badge bg-danger">@Model.Devices.Count(d => d.DeviceActiveStatus == Models.DeviceActiveStatus.OFFLINE)</span>
                </div>

                <div class="fs-5 me-4 mb-2">
                    <span class="text-warning fw-bold">Unknown: </span>
                    <span class="badge bg-warning">@Model.Devices.Count(d => d.DeviceActiveStatus == Models.DeviceActiveStatus.UNKNOWN)</span>
                </div>

                <div class="fs-5 me-4 mb-2">
                    <span class="text-info fw-bold">Total: </span>
                    <span class="badge bg-info">@Model.Devices.Count</span>
                </div>
            </div>
        </div>
    </nav>
</header>


<body data-simplebar>
    <div class="d-flex flex-row justify-content-between p-2 ms-2 me-2">
        <!-- Tagify Filter Bar with Button -->
        <div class="d-flex input-group w-50">
            <input id="tagify-filter-bar"
                   type="text"
                   class="form-control form-control-solid"
                   aria-label=""
                   onkeyup="filterPageTagify" />
            <button class="btn btn-outline-warning p-2" onclick="checkVisibleFilteredDevices()">
                <i class="fa-regular fa-square-check fa-lg"></i>
                Check Visible Devices
            </button>
            <button class="btn btn-outline-warning p-2" onclick="resetCameras()">
                <i class="fa-regular fa-square-minus fa-lg"></i>
                Uncheck Visible Devices
            </button>
        </div>
        <div>
@*             <button class="btn btn-dark" onclick="showCreateDeviceModal()">
                Create Device
            </button> *@
        </div>
    </div>



    <div class="accordion-item">
        @* Accordion Header *@
        <div class="d-flex justify-content-center accordion-header bg-secondary border-bottom border-dark shadow p-1 mb-3 rounded" id="headingOne">
            <button class="d-flex justify-content-center border-0 p-0 m-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-chevron-down fa-xl bg-secondary p-0 border-0"></i>
            </button>
        </div>

        @* Accordion Body *@
        <div id="collapseOne" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div id="exportMenu" class="card bg-light">
                    <div class="d-flex flex-column mt-2 bg-light">
                        <button type="submit" class="btn btn-outline-dark mb-2">
                            <i class="fa-solid fa-arrow-right-arrow-left"></i>
                            <span id="exportOptionsButton" onclick="toggleExportOptions()">Advanced Export Options</span>
                        </button>

                        <div class="d-flex flex-row justify-content-between ms-2 me-2">

                            <div id="dynamicKeys" class="row g-2 p-3 col-6">

                                <div class="d-flex justify-content-end mt-0 p-0 btn-group">
                                    <button type="submit" id="resetLabelsButton" class="btn btn-secondary mb-2" onclick="resetLabels()">
                                        <i class="fa-solid fa-tags"></i>
                                        Reset Labels
                                        <i class="fa-solid fa-rotate-left"></i>
                                    </button>
                                    <button type="submit" id="resetFieldsButton" class="btn btn-secondary bg-light-gray mb-2" onclick="resetFields()">
                                        <i class="fa-solid fa-rectangle-list"></i>
                                        Reset Fields
                                        <i class="fa-solid fa-rotate-left"></i>
                                    </button>
                                    <button type="submit" id="resetCamerasButton" class="btn btn-secondary mb-2" onclick="resetCameras()">
                                        <i class="fa-solid fa-file-export"></i>
                                        Reset Exports
                                        <i class="fa-solid fa-rotate-left"></i>
                                    </button>
                                </div>

                                @foreach (var property in typeof(Models.DeviceModel).GetProperties())
                                {
                                    <div class="col-sm-12 col-xl-6 mb-1">
                                        <!-- Adjust column classes as needed -->
                                        <div class="d-flex flex-row">
                                            <div class="form-check">
                                                <input type="checkbox" class="btn-check" id="@($"btncheck_{property.Name}")" autocomplete="off" onclick="toggleRenameKeys()">
                                                <label class="btn btn-outline-secondary" for="@($"btncheck_{property.Name}")">@property.Name</label>
                                            </div>
                                            <div class="ms-2">
                                                <span>:</span>
                                            </div>
                                            <div class="input-group ms-2">
                                                <input id="@($"btnRenameInput_{property.Name}")" type="text" class="form-control" aria-label="Property value" placeholder="@property.Name" disabled>
                                                <button type="button" class="btn btn-outline-secondary" onclick="resetInput('@property.Name')">
                                                    <i class="fa-solid fa-rotate-left"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div id="advancedExportInput" class="d-none row g-2 p-2 col-6 mb-0 mt-0 p-0">
                                <form class="mt-0 p-0">
                                    <div id="templateInputGroup" class="form-group">
                                        <button type="submit" class="btn mb-2 border-0" disabled>
                                            Input Template
                                        </button>
                                        <textarea class="form-control" id="templateInput" placeholder="Template" rows="15"></textarea>
                                    </div>
                                </form>
                            </div>

                            <div id="advancedExportOutput" class="row g-2 p-2 col-6 mb-0 mt-0 p-0">
                                <form class="mt-0 p-0">
                                    <div class="d-flex flew-row justify-content-between">
                                        <button type="button" class="btn mb-2 border-0" disabled>
                                            Output
                                        </button>
                                        <button id="publishButton" type="button" class="btn btn-warning mb-2" onclick="showPublishDeviceModal()">
                                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                            Publish
                                        </button>
                                    </div>
                                    <div>
                                        <pre class="language-json">
                                        <code id="templateOutputAdvanced" class="language-json">
                                    </code>
                                 </pre>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3 btn-group">
                    <button type="submit" id="exportButton" class="btn btn-warning" onclick="exportSelectedDevices()">
                        Export Devices
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalCreateDevice -->
    <div class="modal fade"
         id="createDeviceModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create Device</h5>
                </div>
                <div type="text" id="modalCreateDeviceBody" class="modal-body">
                    <div>
                        <i class="fa-solid fa-person-digging fa-xl "></i>
                        Under Construction
                    </div>
                </div>

                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modalCreateDevice">Close</button>
                        <button type="button" class="btn btn-secondary">Create Device</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- ModalPublishDevice -->
    <div class="modal fade"
         id="publishDeviceModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Publish Devices</h5>
                </div>
                <div type="text" id="publishDeviceModalBody" class="modal-body">
                    <div>
                        <i class="fa-solid fa-person-digging fa-xl "></i>
                        Under Construction
                    </div>

                    @*                     <form>
                    <!-- URL input -->
                    <div class="mb-3">
                    <label for="urlInput" class="form-label">URL:</label>
                    <input type="url" class="form-control" id="urlInput" placeholder="Enter URL">
                    </div>

                    <!-- Username input -->
                    <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="usernameInput" placeholder="Enter username">
                    </div>

                    <!-- Password input -->
                    <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Enter password">
                    </div>
                    </form> *@


                </div>
                <div class="modal-footer">
                    <div>
@*                         <button type="button" class="btn btn-secondary" data-dismiss="modalPublishDevice">Close</button>
                        <button id="publishPostButton" type="button" class="btn btn-warning" onclick="publishDevices()">
                            Publish
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button> *@
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Camera Cards Body *@
    <div id="cameraCardsBody" class="container-fluid" style="font-size: small; padding-top: 2rem">
        <div class="d-flex flex-wrap">
            @* Getting Model.Devices *@
            @foreach (var dev in @Model.Devices.OrderBy(d => d.DeviceActiveStatus))
            {
                @* Creating Container as a row double cam *@
                <div class="col-sm-12 col-md-9 col-lg-6 col-xl-4 p-1" data-card="container">

                    @* Creating a CameraCard*@
                    <div class="card d-flex flex-row justify-content-between" data-card="cameraContainer">
                        <div class="card-body">
                            <div>
                                @* Thumbnail *@
                                <div class="d-flex flex- justify-content-between">
                                    @{
                                        var baseUrl = "http://localhost:90";
                                        var imagePath = $"/thumbnails/{dev.UUID}/stream_0__1.jpeg";
                                        var absolutePath = baseUrl + imagePath;
                                        var imagePathRelative = $"./thumbnails/{dev.UUID}/stream_0__1.jpeg";
                                        bool imageExists = ImageExists(absolutePath);
                                    }

                                    @if (imageExists)
                                    {
                                        <img src='@imagePathRelative'
                                             class='img-thumbnail card-img-left p-0'
                                             style='width:270px !important; height:152px !important;'>
                                    }
                                    else
                                    {
                                        <!-- Replace with your static placeholder image -->
                                        <img src='https://www.urba-ea.org/wp-content/plugins/video-thumbnails/default.jpg'
                                             class='img-thumbnail card-img-left p-0'
                                             style='width:270px !important; height:152!important;'>
                                    }

                                    @functions {
                                    private bool ImageExists(string imageUrl)
                                    {
                                        try
                                        {
                                            var request = (HttpWebRequest)WebRequest.Create(imageUrl);
                                            request.Method = "HEAD";

                                            using (var response = (HttpWebResponse)request.GetResponse())
                                            {
                                                return response.StatusCode == HttpStatusCode.OK;
                                            }
                                        }
                                        catch (WebException)
                                        {
                                            return false;
                                        }
                                    }
                                }
                                @* Creating Camera Image in a Column*@
                                <div class="d-flex flex-column justify-content-between align-items-end">
                                    <div class="form-check align-self-end">
                                        <input type="checkbox" class="btn-check" id="checkbox_@dev.UUID">
                                        <label class="form-check-label font-weight-bold text-dark btn btn-outline-warning" for="checkbox_@dev.UUID">
                                            Export
                                            <i class="fa-solid fa-file-export"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-2">
                                <hr class="m-0" />
                                @*LastCheckTimeDate*@
                                <div class="row">
                                    <div class="col-lg-4 fw-semibold text-muted ">Last Checked</div>
                                    <div class="col-lg-8 fw-bold" dataFilter>@dev.LastCheckTime.Split(' ')[0]</div>
                                    </div>

                                    @*LastCheckHours*@
                                    <div class="row mb-3">
                                        <div class="col-lg-4 fw-semibold text-muted"></div>
                                        <div class="col-lg-8 fw-bold" dataFilter>@dev.LastCheckTime.Split(' ')[1]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 fw-semibold text-muted">#</div>
                                        <div class="col-lg-8" dataFilter>@dev.UUID</div>
                                    </div>
                                    @*Ip*@
                                    <div class="row">
                                        <div class="col-lg-4 fw-semibold text-muted">IP</div>
                                        <div class="col-lg-8" dataFilter>@dev.IP</div>
                                    </div>
                                    @*Hostname*@
                                    @if (!string.IsNullOrEmpty(dev.Hostname))
                                    {
                                        <div class="row">
                                            <div class="col-lg-4 fw-semibold text-muted">Hostname</div>
                                            <div class="col-lg-8" dataFilter>@dev.Hostname</div>
                                        </div>
                                    }

                                    @*Hostname*@
                                    @if (!string.IsNullOrEmpty(dev.SerialNumber))
                                    {
                                        <div class="row">
                                            <div class="col-lg-4 fw-semibold text-muted">Serial Number</div>
                                            <div class="col-lg-8" dataFilter>@dev.SerialNumber</div>
                                        </div>
                                    }

                                    @*FriendlyName*@
                                    @if (!string.IsNullOrEmpty(dev.FriendlyName))
                                    {
                                        <div class="row">
                                            <div class="col-lg-4 fw-semibold text-muted">FriendlyName</div>
                                            <div class="col-lg-8" dataFilter>@dev.FriendlyName</div>
                                        </div>
                                    }

                                    @*Model*@
                                    @if (!string.IsNullOrEmpty(dev.Model))
                                    {
                                        <div class="row">
                                            <div class="col-lg-4 fw-semibold text-muted">Model</div>
                                            <div class="col-lg-8" dataFilter>@dev.Model</div>
                                        </div>
                                    }

                                    @*Location*@
                                    @if (!string.IsNullOrEmpty(dev.DescriptionLocation))
                                    {
                                        <div class="row">
                                            <div class="col-lg-4 fw-semibold text-muted">Description Location</div>
                                            <div class="col-lg-8"><a href="@dev.DescriptionLocation">@dev.DescriptionLocation</a></div>
                                        </div>
                                    }

                                    @*Presentation URL*@
                                    @if (!string.IsNullOrEmpty(dev.PresentationURL))
                                    {
                                        <div class="row">
                                            <div class="col-lg-4 fw-semibold text-muted">Presentation URL</div>
                                            <div class="col-lg-8"><a href="@dev.PresentationURL">@dev.PresentationURL</a></div>
                                        </div>
                                    }

                                    @*Presentation User*@
                                    @if (!string.IsNullOrEmpty(dev.User))
                                    {
                                        <div class="row">
                                            <div class="col-lg-4 fw-semibold text-muted">User</div>
                                            <div class="col-lg-8" dataFilter>@dev.User</div>
                                        </div>
                                    }

                                    @*Password*@
                                    @if (!string.IsNullOrEmpty(dev.Password))
                                    {
                                        <div class="row">
                                            <div class="col-lg-4 fw-semibold text-muted">Password</div>
                                            <div class="col-lg-8" dataFilter>@dev.Password</div>
                                        </div>
                                    }

                                    @*Notes*@
                                    @if (!string.IsNullOrEmpty(dev.Notes))
                                    {
                                        <div class="row">
                                            <div class="col-lg-4 fw-semibold text-muted">Notes</div>
                                            <div class="col-lg-8" dataFilter>
                                                @(dev.Notes.Contains("discovered", StringComparison.InvariantCultureIgnoreCase) ? Html.Raw("<span class=\"badge bg-success\"><i class=\"bi bi-search\"></i></span> ") : "")
                                                @(dev.Notes.Contains("static", StringComparison.InvariantCultureIgnoreCase) ? Html.Raw("<span class=\"badge bg-secondary\"><i class=\"bi bi-list\"></i></span> ") : "")
                                                @dev.Notes
                                            </div>
                                        </div>
                                    }

                                    @*DeviceStatus*@
                                    <div class="row">
                                        <div class="col-lg-4 fw-semibold text-muted">Status</div>
                                        <div class="col-lg-8">
                                            @switch (dev.DeviceActiveStatus)
                                            {
                                                case Models.DeviceActiveStatus.ONLINE:
                                                    <span class="badge bg-success" dataFilter>Online</span>
                                                    break;
                                                case Models.DeviceActiveStatus.OFFLINE:
                                                    <span class="badge bg-danger" dataFilter>Offline</span>
                                                    break;
                                                default:
                                                    <span class="badge bg-warning" dataFilter>Unknown</span>
                                                    break;
                                            }
                                        </div>
                                    </div>

                                    @*DeviceStreams*@
                                    @if (dev.Streams.Count > 0)
                                    {
                                        <div class="container">

                                            @for (int i = 0; i < dev.Streams.Count; i++)
                                            {
                                                <div class="row">
                                                    <div class="col-lg-4 fw-semibold text-muted">Stream@(i)</div>
                                                    @try
                                                    {
                                                        @switch (dev.Streams[i].Status)
                                                        {
                                                            case Models.StreamStatus.OK:
                                                                <div class="col-lg-8"><a class="badge bg-success" style="white-space: unset !important;" data-toggle="tooltip" title="<img src='./thumbnails/@(dev.UUID)/stream_@(i)__1.jpeg' class='img-thumbnail' style='width:100% !important; height:auto !important;'>">@dev.Streams[i].URI</a></div>
                                                                break;
                                                            case Models.StreamStatus.ERROR:
                                                                <div class="col-lg-8"><a class="badge bg-danger" style="white-space: unset !important;">@dev.Streams[i].URI</a></div>
                                                                break;
                                                            default:
                                                                <div class="col-lg-8"><a class="badge bg-warning" style="white-space: unset !important;">@dev.Streams[i].URI</a></div>
                                                                break;
                                                        }
                                                    }
                                                    catch
                                                    {

                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>


@section Scripts {
    <script src="~/js/dist/main.js"></script>
}
